<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="IE=Edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, height=device-height">
    <title>Huge Inc. Nav – Components</title>
    <meta property="og:title" content="Huge Inc. Nav – Components">
    <meta property="og:site_name" content="Components">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://apathetic.github.io/showcase/components/huge-nav/">
    <meta name="description" content="The full-screen nav that is featured on Huge Inc.">
    <meta property="og:description" content="The full-screen nav that is featured on Huge Inc.">
    <link rel="shortcut icon" href="/assets/images/favicon.png">
    <link rel="stylesheet" href="https://apathetic.github.io/showcase/assets/css/main.min.css">    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/hugeinc/huge-nav/demo/styles.css">

    <script src="https://cdn.jsdelivr.net/gh/hugeinc/huge-nav/dist/huge-nav.min.js"></script>
  </head>
  <body>


  <header class="py-8 align-center">
    <nav class="component">
    </nav>

    <h1 class="">Huge Inc. Nav.</h1>

    <a class="button button--icon" href="https://github.com/hugeinc/huge-nav">
      <svg class="icon">
        <use xlink:href="https://apathetic.github.io/showcase/assets/images/sprites.svg#github"></use>
      </svg>
    </a>
    <a class="button button--icon" href="https://github.com/hugeinc/huge-nav/archive/master.zip">
      <svg class="icon">
        <use xlink:href="https://apathetic.github.io/showcase/assets/images/sprites.svg#arrow-down"></use>
      </svg>
    </a>

  </header>

  <nav class="mini-nav">
    <div id="sticky">
        <ul class="py-4"></ul>
    </div>
  </nav>

  <main class="prose py-4">
    <!-- <p class="attribution">Posted %(date)s</p> -->

  <section data-nav="About" id="about">
    <h2>About</h2>
    <p>This is an abstraction of the menu used on the Huge Inc. site. It is a fullscreen menu, with a
    subtle animation on the menu items when they fade in. In fact, there are several improvements over
    the original implementation. Namely, no javascript is used to calculate the height / spacing of the
    menu items when viewed on different screen-sizes, orientations. Welcome the new <code>vh</code> and
    <code>vw</code> css selectors*</p>

    <p class="small">* not valid in IE8</p>
  </section>

  <section data-nav="Demo" id="demo">
    <h2>Demo</h2>

    <nav id="huge-nav">
      <div class="bar">
        <a id="toggle" href="#"><div class="patty"></div></a>
      </div>

      <div class="overlay">
        <ul>
          <li><a href="">About</a></li>
          <li><a href="">Projects</a></li>
          <li><a href="">Work</a></li>
          <li><a href="">Blog</a></li>
          <li><a href="">Clients</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </div>
    </nav>

    <p>Click the burger in the top left of your screen.</p>
  </section>

  <section data-nav="Prereqs" id="prereqs">
    <h2>Prereqs</h2>
    <p>jQuery</p>
  </section>

  <section data-nav="Compatibility" id="compatibility">
    <h2>Compatibility</h2>
    <ul>
      <li>IE8+</li>
      <li>webkit, Opera, FF</li>
      <li>mobile webkit, android</li>
    </ul>
  </section>

  <section data-nav="Options" id="options">
    <h2>Options</h2>

    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th style="width: 100px;">Name</th>
            <th style="width: 50px;">type</th>
            <th style="width: 50px;">default</th>
            <th>description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>nav container</td>
            <td>string</td>
            <td>#huge-nav</td>
            <td>The container of the navigation DOM tree</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  <section data-nav="Events" id="events">
    <h2>Events</h2>

    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th style="width: 150px;">Event Type</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>open</td>
            <td>This event fires immediately when nav is opened.</td>
          </tr>
          <tr>
            <td>close</td>
            <td>This event fires immediately when nav is closed.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>


  </main>

  <!--
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/hugeinc/huge-nav/demo/styles.css">

    <script src="https://cdn.jsdelivr.net/gh/hugeinc/huge-nav/dist/huge-nav.min.js"></script>
  -->

  <script src="https://apathetic.github.io/showcase/assets/js/component.js"></script>



	<footer>
		<div class="container">

			<a href="http://weshatch.com" id="logo"> </a>

			<p>Catchy tagline here.<sup>TM</sup></p>

			<div id="meta">
				<span>© 2014, 2017 Wes Hatch. All Rights Reserved.</span>
			</div>

		</div>
	</footer>
  </body>
</html>