$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import "sass-bootstrap/lib/bootstrap";

@import "../huge_bower_components/huge-sass/src/functions/_strip-unit";
@import "../huge_bower_components/huge-sass/src/functions/_pixels-to-ems";

@import "../huge_bower_components/huge-sass/src/general/_circle_with_arrow";
@import "../huge_bower_components/huge-sass/src/general/_reset";

@import "../huge_bower_components/huge-sass/src/layout/_list_unstyled";

$magenta: #ec008c;

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}

// WIDGET DOC NAV
.sub-nav {
    li {
        margin: 3px 0 0;
        padding-left: 3px;
        &:hover, &.active {
            cursor: pointer;
            border-left: 2px solid $magenta;
            color: $magenta;
            font-weight: bold;
        }
    }

    ul {
        ul {
            margin-left: 2em;
        }
    }
}


// WIDGET DOCUMENTATION
.widget-doc {
    h1 {
        &:first-child {
            margin-top: 3px;
        }
    }
}

// WIDGET EXAMPLE CODE
.huge-example {
    position: relative;
    padding: 15px 15px 15px;
    margin: 0 -15px 15px;
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 4px 4px 0 0;
    box-shadow: none;
    pre {
        border: none;
        padding: 0 15px;
    }
    code {
        padding: 0;
    }
}

.huge-example+.highlight {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin: -15px -15px 15px;
    border-radius: 0;
    border-width: 0 0 1px;
}

.highlight {
    padding: 9px 14px;
    margin-top: 10px;
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}


/* SASS MIXINS 
======================================== */
.sass-section {
    dd {
        margin-left: 2em;
    }

}
div.circle-with-arrow {
    .example {
        @include circle-with-arrow(50px, $magenta, black);
    }
}

div.pixels-to-ems {
    .example {
        // first pair
        >div {
            border: 1px solid #666;
            margin: .5em 0;
        }
        .m-1 {
            width: huge-em(300);
        }
        .m-2 {
            width: 300px;
        }
        // second pair
        .m-3, .m-4 {
            font-size: 20px;
        }
        .m-3 {
            width: huge-em(400, 20);
        }
        .m-4 {
            width: 400px;
        }
    }
}

div.unstyled-list {
    .example {
        ul {
            @include list-unstyled;
        }
    }
}