  <header class="hero">

    <div class="carousel" id="featured">

      <ul class="wrap">
        {% for component in g.docs('components') if component.featured %}
        <li class="slide">
          <div class="v-center">
            <span class="eyebrow">Module by {{ component.author }}</span>
            <h1><a href="components/{{ component.slug }}">{{ component.title }}</a></h1>
            <p>{{ component.description }}</p>
          </div>
        </li>
        {% endfor %}
      </ul>

      <nav>
        <div class="prev">
          <span>←</span>
        </div>

        <ul>
          {% for component in g.docs('components') if component.featured %}<li></li>{% endfor %}
        </ul>

        <div class="next">
          <span>→</span>
        </div>
      </nav>

    </div>

  </header>
