

	<header class="hero">

		<div class="sliding carousel" id="featured">
			<ul class="wrap">

			<% var count = 0; for (var name in components) { %>
				<% var component = components[name] %>
				<% if (component.featured) { %>
					<li class="slide">
						<div class="v-center">
							<span class="eyebrow">Module by <%= component.author %></span>
							<h1><a href="components/<%= name %>"><%= component.title %></a></h1>
							<p><%= component.blurb %></p>
						</div>
					</li>
				<% count++; } %>
			<% } %>

			</ul>

			<nav>
				<div class="prev"><span>←</span></div>
				<ul>
					<% for (var i = 0; i < count; i++) { %>
					<li></li>
					<% } %>
				</ul>
				<div class="next"><span>→</span></div>
			</nav>
		</div>

	</header>
