{
  "extends": "stylelint-config-standard",
  "rules": {
    "block-closing-brace-newline-after": [
      "always", { "ignoreAtRules": ["if", "else"] }
    ],
    "number-leading-zero": "always",
    "number-no-trailing-zeros": true,
    "max-empty-lines": 2
  }
}
