/**

File:			main.css
Description:	Main styles for the Huge Showcase


		◡◠ ✥ ◠◡

	Table of Contents:

	2. Default styles
		- typograpy
		- links
	3. Layout
	4. Page styles
		- Home page
		- template: page
		- template: post
		- template: fullscreen
	5. Responsive


	** note: in Sublime text: <command + K + 1> to visually format this document **


*/


body {
	background: $color-off-white;
	font:16px / 24px "Galaxie", Georgia, serif;
	color: $color-font-dark;
	margin: 0;
	position: relative;
}


/* ---------------------------------------
	2.	Default Styles
-----------------------------------------*/

// --- Typography ---

h1, h2, h3, h4, h5, h6 {
    color: #000;
	font-family: "HUGEAvantGardeBold", sans-serif;
	letter-spacing: -0.06em;
	margin: 0 0 0.6em;
	font-weight: 500;
	line-height: 1.1;
}

h1 {
	font-size: 4em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.8em;
}

h4 {
    font-size: 1.5em;
}

h6 {
	line-height: 1;
}

p {
	margin-bottom: 1em;
}


// --- Links ---

a {
	text-decoration: none;
}







/* ---------------------------------------
	3.	Layout
-----------------------------------------*/





.container {
	max-width: 1280px;
	margin: 0 10%;
}

main {
	padding: 48px 0 100px;
}

.sticky {
	position: fixed !important;
	top: 0;
	left: 0;
}


@media (min-width: 1600px and screen) {

}
