@font-face{
	font-family:'HUGEAvantGardeBold';
	src:url("http://hugeinc.github.io/showcase/fonts/huge_agb_v5-webfont.eot?#iefix") format("embedded-opentype"),
		url("http://hugeinc.github.io/showcase/fonts/huge_agb_v5-webfont.woff") format("woff"),
		url("http://hugeinc.github.io/showcase/fonts/huge_agb_v5-webfont.ttf") format("truetype"),
		url("http://hugeinc.github.io/showcase/fonts/huge_agb_v5-webfont.svg#svgFontName") format("svg")}


@font-face {
	font-family: "Galaxie";
	src:url("http://hugeinc.github.io/showcase/fonts/GalaxieCopernicus-Book.eot") format("embedded-opentype"),
		url("http://hugeinc.github.io/showcase/fonts/GalaxieCopernicus-Book.woff") format("woff"),
		url("http://hugeinc.github.io/showcase/fonts/GalaxieCopernicus-Book.svg") format("svg");
}

@font-face {
	font-family: "GalaxieItalic";
	src:url("http://hugeinc.github.io/showcase/fonts/GalaxieCopernicus-BookItalic.eot") format('embedded-opentype'),
		url("http://hugeinc.github.io/showcase/fonts/GalaxieCopernicus-BookItalic.woff") format('woff'),
		url("http://hugeinc.github.io/showcase/fonts/GalaxieCopernicus-BookItalic.svg") format('svg');
}

/* @font-face {
  font-family: "FontAwesome";
  src: url(/css/fonts/fontawesome-webfont.eot) format('embedded-opentype'), url(/css/fonts/fontawesome-webfont.woff) format('woff'), url(/css/fonts/fontawesome-webfont.svg) format('svg');
}
 */
