@font-face{
	font-family:'HUGEAvantGardeBold';
	src:url("http://hugeinc.github.io/showcase/fonts/huge_agb_v5-webfont.eot?#iefix") format("embedded-opentype"),
		url("http://hugeinc.github.io/showcase/fonts/huge_agb_v5-webfont.woff") format("woff"),
		url("http://hugeinc.github.io/showcase/fonts/huge_agb_v5-webfont.ttf") format("truetype"),
		url("http://hugeinc.github.io/showcase/fonts/huge_agb_v5-webfont.svg#svgFontName") format("svg")}


@font-face {
	font-family: "Galaxie";
	src:url("http://hugeinc.github.io/showcase/fonts/GalaxieCopernicus-Book.eot") format("embedded-opentype"),
		url("http://hugeinc.github.io/showcase/fonts/GalaxieCopernicus-Book.woff") format("woff"),
		url("http://hugeinc.github.io/showcase/fonts/GalaxieCopernicus-Book.svg") format("svg");
}

@font-face {
	font-family: "GalaxieItalic";
	src:url("http://hugeinc.github.io/showcase/fonts/GalaxieCopernicus-BookItalic.eot") format('embedded-opentype'),
		url("http://hugeinc.github.io/showcase/fonts/GalaxieCopernicus-BookItalic.woff") format('woff'),
		url("http://hugeinc.github.io/showcase/fonts/GalaxieCopernicus-BookItalic.svg") format('svg');
}

@font-face {
	font-family: 'icons';
	src:url('fonts/icons.eot?q2z3x2');
	src:url('fonts/icons.eot?q2z3x2#iefix') format('embedded-opentype'),
		url('fonts/icons.ttf?q2z3x2') format('truetype'),
		url('fonts/icons.woff?q2z3x2') format('woff'),
		url('fonts/icons.svg?q2z3x2#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}
