{% extends "/views/pages/component.html" %}

{% block component %}

  <style>
    img, video { display:block; max-width:640px; }
    .video-wrap pre { margin:0 !important; border:0; }
  </style>

  <section data-nav="About" id="about">
    <div class="container">
      <h2>About</h2>
      <p>Turn any images, videos, or elements with a background-image into crappy lo-fi ascii art. Your site will be faster and more user-friendly as a result. Which equals more users and big dollars. Everyone wins!</p>
      <p>While you're at it, for maximum optimization you can also take advantage of a few of the bundled features, which strip out all these "new-fangled" browser enhancements, such as border-radius, custom fonts, and color.</p>
    </div>
  </section>

  <section data-nav="Demo" id="demo">
    <div class="container">
      <h2>Demo</h2>

      <!-- <h3>Commands:</h3>
      <ul>
        <li>"ascii"</li>
        <li>"clippy"</li>
        <li>"sepia"</li>
        <li>"monochrome"</li>
        <li>"acid"</li>
        <li>"seasick"</li>
      </ul> -->

      <p>
        <img src="{{ g.static('/source/images/asciify/car.jpg').url }}" alt="car" id="car">
        <button data-asciify="#car" class="button button--default">ASCIIFY</button>
      </p>

      <div id="lady" style="background: url({{ g.static('/source/images/asciify/cow.jpg').url }}); width:640px; height:400px; background-size:cover"></div>
      <button data-asciify="#lady" class="button button--default">ASCIIFY</button>

      <div class="video-wrap">
        <video id="vid" width="640" height="360" controls autoplay loop>
          <source src="{{ g.static('/source/images/asciify/vid.mp4').url }}" type="video/mp4">
            <source src="{{ g.static('/source/images/asciify/vid.webm').url }}" type="video/webm">
        </video>
      </div>
      <button data-asciify="#vid" class="button button--default">ASCIIFY</button>

    </div>
  </section>

  <section data-nav="Code" id="code">
    <div class="container">
      <h2>Code</h2>

      <pre><code class="language-javascript">
// Works on images:
var image = document.querySelector('#image');
new Asciify(image);

// Works on background images:
var bg = document.querySelector('[style*="background"]');
new Asciify(image);

// WORKS ON VIDEO
var vid = document.querySelector('video');  // (HTML5)
new Asciify(vid);
// note: for now, you'll need to wrap the &lt;video> in a &lt;div>
      </code></pre>
    </div>
  </section>

  <script>
    Array.from(document.querySelectorAll('button'), function(button) {
      var target = document.querySelector(button.getAttribute('data-asciify'));
      if (target) {
        button.addEventListener('click', function convert() {
          new Asciify(target);
          button.removeEventListener('click', convert);
          button.innerHTML = 'Optimized!';
          button.classList.remove('button--default');
        });
      }
    });
  </script>

{% endblock %}
