
{% extends "/views/base.html" %}

{% block main %}

	<header>
		<h1><%- title %></h1>

    <h1><a href="{{doc.url.path}}">{{doc.title}}</a></h1>
    <div class="attribution">
      {{_('Posted %(date)s', date=doc.dates('published'))}}
    </div>
	</header>

	<nav>
		<div id="sticky">
			<div class="container">
				<nav data-autogenerate="true">
					<ul></ul>
				</nav>
			</div>
		</div>
	</nav>


    {% set next_doc = doc.next() %}
    {% set prev_doc = doc.prev() %}
    {% if next_doc %}
    <div>
      <span>{{_('Next:')}}</span>
      <a href="{{next_doc.url.path}}">{{next_doc.title}}</a>
    </div>
    {% endif %}


	<main class="component left-rail">
		<%- content %>
	</main>

	<footer>
		<div class="container">
		</div>
	</footer>

	<% for (var i=0; i<scripts.length; i++) { %>
	<script><%- scripts[i] %></script>
	<% } %>
	<script src="../js/component.js"></script>

{% endblock %}
