
{% extends "/views/base.html" %}

{% block main %}

  <header>
    <h1>{{ doc.title }}</h1>
    <div class="attribution">
      {{ _('Posted %(date)s', date=doc.published ) }}
    </div>


    {% set next_doc = doc.next() %}
    {% set prev_doc = doc.prev() %}
    {% if next_doc %}
    <div>
      <span>{{_('Next:')}}</span>
      <a href="{{next_doc.url.path}}">{{next_doc.title}}</a>
    </div>
    {% endif %}


  </header>

  <nav>
    <div id="sticky">
      <div class="container">
        <nav data-autogenerate="true">
          <ul></ul>
        </nav>
      </div>
    </div>
  </nav>

  <main class="component left-rail">
    main
    {% block component %}<!-- -->{% endblock %}
  </main>

  <script src="../js/component.js"></script>

{% endblock %}
