
{% extends "/views/base.html" %}

{% block main %}

	<header>
		<h1><%- title %></h1>
	</header>

	<nav>
		<div id="sticky">
			<div class="container">
				<nav data-autogenerate="true">
					<ul></ul>
				</nav>
			</div>
		</div>
	</nav>

	<main class="component left-rail">
		<%- content %>
	</main>

	<footer>
		<div class="container">
		</div>
	</footer>

	<% for (var i=0; i<scripts.length; i++) { %>
	<script><%- scripts[i] %></script>
	<% } %>
	<script src="../js/component.js"></script>

{% endblock %}
