#demo {

	li {
		list-style: none;
	}
	h3 {
		display: block;
		min-height: 65px;
		width: 90%;
		margin: auto;
		font-weight: 100;
		text-align: left;
		color: #ccc;
	}
	&.wrapper {
		text-align: center;
		&:after {
			content: "";
			display: table;
			clear: both;
			float: none;
		}
	}
	.clearfix {
		&:after {
			content: "";
			display: table;
			clear: both;
			float: none;
		}
	}
	.filter {
		display: block;
		width: 90%;
		padding-top: 20px;
		margin: auto;
		margin-bottom: 15px;
		border:none;
		border-bottom: 1px solid #aaa;
		outline: none;
		background-color: transparent;
	}
	.result {
		width: 90%;
		padding: 0;
		text-align: left;
		margin: auto;
	  	min-height: 50px;
	  li {
	  	margin-left: 0;
	  	font-size: 14px;
	  }
	  span {
	  	display: none;
	  }
	  span.show {
	  	display: block;
	  }
	}
	.col {
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		width: 50%;
		padding: 30px;
		float: left;
	}
	.col:first-child {
		border-right: 1px dotted #ccc;
	}
	.col:hover {
		color: #3b3b3b;
	}
	.col:hover h3 {
		color: #3b3b3b;
	}
	.hide {
		display: none;
	}
	.show {
		display: block;
	}
	.loading {
	  background:url('/img/autocompleter/ajax-loader.gif') center center no-repeat;
	}


	#auto-complete,
	#auto-filter {
		img {
			display: block;
			width: 100px;
			margin: 10px 0 0;
		}
	}

	#ajax-custom-auto-complete {
		img {
			width: 100px;
			margin-right:10px;
			float: left;
			vertical-align: middle;
		}
		li {
		    padding: 10px 0;
		    border-bottom: 1px dotted #ccc;
		  	&:after {
			  	content: "";
			  	display: table;
			  	clear: both;
			  	float: none;
			  }
		  }
	}
	#auto-filter {
		text-align: left;
		span {
			cursor: pointer;
			display: inline-block;
			padding: 15px;
			border: 1px solid #000;
			margin-bottom: 15px;
			&:hover {
				background: #000;
				color: #fff;
			}
		}
	}
}