/**

File:           fonts.scss
Description:    Site fonts are included here

        ◡◠ ✥ ◠◡

    Table of Contents:

    1. Roboto
    2. NotoSans

*/

$url: "http://hugeinc.github.io/showcase/fonts";

@font-face{
  font-family:'HUGE';
  src: url("#{$url}/huge_agb_v5-webfont.woff") format("woff");
}

@font-face {
  font-family: 'Galaxie';
  src: url("#{$url}/GalaxieCopernicus-Book.woff") format("woff")
}

@font-face {
  font-family: "Galaxie";
  font-style: italic;
  src: url("#{$url}/GalaxieCopernicus-BookItalic.woff") format('woff');
}

@font-face {
  font-family: 'icons';
  src:url('/assets/fonts/icons.eot');
  src:url('/assets/fonts/icons.eot') format('embedded-opentype'),
    url('/assets/fonts/icons.ttf') format('truetype'),
    url('/assets/fonts/icons.woff') format('woff'),
    url('/assets/fonts/icons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
