/**

File:     main.css
Description:  Main styles for the Huge Showcase

    ◡◠ ✥ ◠◡

  Table of Contents:

  1. Element styles
    - typograpy
    - links
  3. Layout
*/

/* ---------------------------------------
  1.  Global
---------------------------------------- */

* {
  background-repeat: no-repeat;
  box-sizing: border-box;
  position: relative;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;    // only OS X
  -webkit-font-smoothing: antialiased;   // we put this here to overcome webkit bug when doing -webkit-transforms

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  color: $color-font-dark;
  font-family: $font-serif;
  // font-weight: 100;
  font-kerning: normal;
  font-size: $font-size-base;
  line-height: 1.4;
}


body {
  background: colors('off-white');
}

/* ---------------------------------------
  3.  Icons
---------------------------------------- */

[class*="icon-"] {
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter::before { content: "\f099"; }
.icon-facebook::before { content: "\f09a"; }
.icon-github::before { content: "\f09b"; }
.icon-stash::before { content: "\e900"; }
