<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="IE=Edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, height=device-height">
    <title>Asciify – Components</title>
    <meta property="og:title" content="Asciify – Components">
    <meta property="og:site_name" content="Components">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://apathetic.github.io/showcase/components/asciify/">
    <meta name="description" content="Turn all images and video on your site into ASCII art.">
    <meta property="og:description" content="Turn all images and video on your site into ASCII art.">
    <link rel="shortcut icon" href="/assets/images/favicon.png">
    <link rel="stylesheet" href="https://apathetic.github.io/showcase/assets/css/main.min.css">
    <script src="https://cdn.jsdelivr.net/gh/apathetic/asciify/dist/asciify.js"></script>
  </head>
  <body>


  <header class="py-2 align-center">
    <h1 class="px-2">Asciify.</h1>
    <!-- <p class="attribution">Posted %(date)s</p> -->

    <nav class="component">
    </nav>

    <a class="button button--icon" href="https://github.com/apathetic/asciify">
      <svg class="icon">
        <use xlink:href="https://apathetic.github.io/showcase/assets/images/sprites.svg#github"></use>
      </svg>
    </a>
    <a class="button button--icon" href="https://github.com/apathetic/asciify/archive/master.zip">
      <svg class="icon">
        <use xlink:href="https://apathetic.github.io/showcase/assets/images/sprites.svg#arrow-down"></use>
      </svg>
    </a>

  </header>

  <nav class="mini-nav">
    <div id="sticky">
        <ul class="py-2"></ul>
    </div>
  </nav>

  <main class="prose">

  <style>
    img, video { display:block; max-width:640px; }
    .video-wrap pre { margin:0 !important; border:0; }
  </style>

  <section data-nav="About" id="about">
    <div class="container">
      <h2>About</h2>
      <p>Turn any images, videos, or elements with a background-image into crappy lo-fi ascii art. Your site will be faster and more user-friendly as a result. Which equals more users and big dollars. Everyone wins!</p>
      <p>While you're at it, for maximum optimization you can also take advantage of a few of the bundled features, which strip out all these "new-fangled" browser enhancements, such as border-radius, custom fonts, and color.</p>
    </div>
  </section>

  <section data-nav="Demo" id="demo">
    <div class="container">
      <h2>Demo</h2>

      <!-- <h3>Commands:</h3>
      <ul>
        <li>"ascii"</li>
        <li>"clippy"</li>
        <li>"sepia"</li>
        <li>"monochrome"</li>
        <li>"acid"</li>
        <li>"seasick"</li>
      </ul> -->

      <p>
        <img src="https://apathetic.github.io/showcase/assets/images/asciify/car.jpg" alt="car" id="car">
        <button data-asciify="#car" class="button button--default">ASCIIFY</button>
      </p>

      <div id="lady" style="background: url(https://apathetic.github.io/showcase/assets/images/asciify/cow.jpg); width:640px; height:400px; background-size:cover"></div>
      <button data-asciify="#lady" class="button button--default">ASCIIFY</button>

      <div class="video-wrap">
        <video id="vid" width="640" height="360" controls autoplay loop>
          <source src="https://apathetic.github.io/showcase/assets/images/asciify/vid.mp4" type="video/mp4">
            <source src="https://apathetic.github.io/showcase/assets/images/asciify/vid.webm" type="video/webm">
        </video>
      </div>
      <button data-asciify="#vid" class="button button--default">ASCIIFY</button>

    </div>
  </section>

  <section data-nav="Code" id="code">
    <div class="container">
      <h2>Code</h2>

      <pre><code class="language-javascript">
// Works on images:
var image = document.querySelector('#image');
new Asciify(image);

// Works on background images:
var bg = document.querySelector('[style*="background"]');
new Asciify(image);

// WORKS ON VIDEO
var vid = document.querySelector('video');  // (HTML5)
new Asciify(vid);
// note: for now, you'll need to wrap the &lt;video> in a &lt;div>
      </code></pre>
    </div>
  </section>

  <script>
    Array.from(document.querySelectorAll('button'), function(button) {
      var target = document.querySelector(button.getAttribute('data-asciify'));
      if (target) {
        button.addEventListener('click', function convert() {
          new Asciify(target);
          button.removeEventListener('click', convert);
          button.innerHTML = 'Optimized!';
          button.classList.remove('button--default');
        });
      }
    });
  </script>

  </main>

  <!--

    <script src="https://cdn.jsdelivr.net/gh/apathetic/asciify/dist/asciify.js"></script>
  -->

  <script src="https://apathetic.github.io/showcase/assets/js/component.js"></script>



	<footer>
		<div class="container">

			<a href="http://weshatch.com" id="logo"> </a>

			<p>Catchy tagline here.<sup>TM</sup></p>

			<div id="meta">
				<span>© 2014, 2017 Wes Hatch. All Rights Reserved.</span>
			</div>

		</div>
	</footer>
  </body>
</html>