@import "../huge_bower_components/huge.sass/functions/_strip-unit";
@import "../huge_bower_components/huge.sass/functions/_pixels-to-ems";

@import "../huge_bower_components/huge.sass/general/_circle_with_arrow";
@import "../huge_bower_components/huge.sass/general/_card_flip";
@import "../huge_bower_components/huge.sass/general/_css_arrow";
@import "../huge_bower_components/huge.sass/general/_reset";

@import "../huge_bower_components/huge.sass/layout/_list_unstyled";
@import "fonts";

@include reset;
@import "compass/css3";
@import "compass/utilities/general/clearfix";

$magenta: #ec008c;

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    margin: 0;
    position: relative;
}
h1,
h2,
h3,
h4, 
h5, 
h6{
    font-family: "HUGEAvantGardeBold", sans-serif; 
}

a {
    text-decoration: none;
    color: inherit;
}

h3 {
    color: #000;
    display: block;
    font-size: 2em;
    margin-bottom: 20px;
    border-bottom: $magenta 2px solid;
    padding: 0 0 15px 0;
}

h2 {
    font-size: 1.5em;
    padding: 0 0 15px 0;
    clear: both;
}

h4 {
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: .3em;
}
h6 {
    line-height: 1;
    margin: 10px 0;
}
.highlight {
    margin-bottom: 20px;
}
nav {
    position: fixed;
    display: inline-block;
    margin-right: 1em;
    left: 0;
    top: 40px;
    z-index: 1;
    >ul {
        @include list-unstyled;
        ul {
            @include list-unstyled(false);
            margin-left: 2em;
        }
    }
    li {
        cursor: pointer;
    }
}
dl{
    display: block;
    clear: both;
    margin-bottom: 20px;
    @include clearfix();

    dt {
        font-weight: bold;
    }
    dt, dd {
        display: block;
        font-size: 0.9em;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        margin-bottom: 7px;
    }
    a {
        color: $magenta;
        &:hover {
            color: $magenta;
        }
    }
    lh{
        display: block;
        font-size: 1.2em;
        font-weight: bold;
        margin: 0 0 10px;
        padding: 0 0 10px;
    }
}

dd > dl {
    margin-top: 0;
}

article {
    //position: absolute;
    width: 100%;
    //left: 0;
    padding-left: 15em;
    vertical-align: top;
    //display: inline-block;
    dt {
        font-weight: bold;
    }
}

div#circleWithArrow {
    .example {
        @include circle-with-arrow(50px, $magenta, black);
    }
}

div#pixelsToEms {
    .example {
        // first pair
        >div {
            border: 1px solid #666;
            margin: .5em 0;
        }
        .m-1 {
            width: huge-em(300);
        }
        .m-2 {
            width: 300px;
        }
        // second pair
        .m-3, .m-4 {
            font-size: 20px;
        }
        .m-3 {
            width: huge-em(400, 20);
        }
        .m-4 {
            width: 400px;
        }
    }
}

div#unstyledList {
    .example {
        ul {
            @include list-unstyled;
        }
    }
}

.example {
    margin: 1em;
}

.code {
    margin: 1em .5em;
    padding: 1em .5em;
    background-color: #B3B3B3;
}

div#cardFlip {
    .card-container {
        margin: 20px 0;
        @include card-flip(left, 200px, 200px, 1000, 1s);
        .card {
            color: #fff;
            .front, .back {
                @include border-radius(5px);
            }
            .front {
                background-color: #3498db;
            }
            .back {
                background-color: #2980b9;
            }
        }
    }
}
div#arrow {
    .example{
         margin: 20px 0;
         @include arrow(right, $magenta, 10px);  
    }
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}