/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

$fa-font-path:  "../bower_components/font-awesome/fonts";
// @import "../bower_components/font-awesome/scss/font-awesome";
// @import "../bower_components/bootstrap-sass/lib/bootstrap";

@import "huge-sass/sass/general/_css_arrow";
@import "fonts";
@import "variables";


/* Global Reset */
* {
  margin: 0;
  padding: 0;
  position: relative;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body { height: 100%; }

body {
    background: #fafafa;
    font:16px / 24px "Galaxie", Georgia, serif;
    color: #333;
    margin: 0;
    position: relative;
}


// ------------------------- Typography ------------------------

h1, h2, h3, h4, h5, h6 {
    color: #000;
    font-family: "HUGEAvantGardeBold", sans-serif;
    letter-spacing: -0.06em;
    margin: 0.6em 0;
	font-weight: 500;
	line-height: 1.1;
}

h1 {
	color: #fff;
    // font-size: 3.6em;
    font-size: 4em;
}

h2 {
    font-size: 2.4em;
    // margin-top: 2em;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.5em;
}

h6 {
    line-height: 1;
    margin: 10px 0;
}

// --------------------------- Links ---------------------------

a {
	text-decoration: none;
}



// ------------------------- Navigation ------------------------
header > nav {
	// float:right;
	// margin-top: 3em; 		// same as h1
	position:absolute; top:0; left:0; width:100%; height:0; z-index: 1234;

	a {
		display: block;
		line-height: 40px;
		top: 54px;
		&:after {
			display: inline-block;
			width: 40px;
			height: 40px;
			border-radius: 20px;
			background: #fff;
			margin:0 12px;
			text-align: center;
			font: 24px / 40px Heiti, 'Lucida Grande';
			color: #000;
		}
		&.next {
			margin-right: 20px;
			&:after {
				content: "←";
				float:left;
			}
		}
		&.prev {
			margin-left: 20px;
			&:after {
				content: "→";
				float:right;
			}
		}
	}
}

#sticky {
	margin-left:-240px;
	position:relative;

	nav {
		position: absolute;
		top: 0;
		/*left: 0;*/
		width: 100%;
		height: 0;
		padding: 0 15px; // same as container
		z-index: 100;
		-webkit-backface-visibility: hidden;

		ul {
			margin-top: 24px;
		}

		li {
			list-style:none;
			// padding: 4px 0;
			float: left;
			clear: left;
			width: 172px;
			margin: 2px 0;
		}

		a {
			color: #fff;
			text-decoration: none;
			background: #232326;
			padding: 2px 12px;
			float: right;
			font-size: 14px;
		}

		.active a {
			background: #ec008c;
			&:after {
				content: '';
				@include arrow(right, #ec008c, 8px);
				position: absolute;
				top: 6px;
				right: -8px;
			}
		}

		&.sticky {
			position: fixed;
		}
	}
}


// -------------------------- Carousel -------------------------

.carousel {
	.wrap { margin:0 }
	nav {
		position:static; height:48px; width:100%; text-align:center; z-index:10;

		li {

			cursor: pointer;
			display: inline-block;
			background-color: #bbb;
			border: 2px solid transparent;
			height: 12px;
			width: 12px;
			border-radius: 50%;
			margin: 0 3px;
			-moz-background-clip: content;
			-webkit-background-clip: content;
			background-clip: content-box;
			@include transition(all 0.5s);


		}
		li.active { border-color: #fff; background-color:transparent; }
		div { position:absolute; cursor:pointer; top: 0; width: 20%; height: 100%; z-index: 100; }
		div:hover span { opacity: 0.75; }
		div span {
			position: absolute;
			top: 50%;
			width: 80px	;
			height: 80px;
			margin-top: -40px;
			font: 24px / 80px Heiti, 'Lucida Grande';
			vertical-align: middle;
			display: inline-block;
			background: #393C3C;
			color: #000;
			opacity: 0;
	 		@include transition(all 0.3s);
	 	}
	 }
	.prev, .prev span { left:0; }
	.next, .next span { right:0; }

}

/* .v-center {
	position: absolute;
	display: block;
	top: 50%;
	width:100%;
	@include transform(translateY(-50%));
}
 */


/*****************************************************************************/
/*
/* Layout
/*
/*****************************************************************************/

main {
	padding: 48px 0 100px;
}
/*
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}
 */
header {
	min-height: 150px;
	background: $color-grey-dark;
	.fa-home {
		font-size: 40px;
		color: #fff;
		margin-right: 20px;
	}
}

/* ripped from HUGEINC */
footer {
	background: #000;

	.container {
		// font-family: $font-hugeAvantGarde;
		// line-height:1;
		font-size:11px;
		padding: 80px 0 40px;
		text-align: center;
	}

	#H-logo {
		display: inline-block;
		width:46px;
		height:54px;
		background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAiCAYAAABBY8kOAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAF1JREFUeNpi+E8YbABiBgJ4AyFDmBjoBEYtGrVo1KJRizABCxFqRIDYgQg1eAEjqMCjh49GLRq1aIRbdBSIawioaQFia0pLhjdAfIAINaOl96hFoxaNWjRYLQIIMABdEogcjpWdDQAAAABJRU5ErkJggg==') 50% 50% no-repeat;

		&:hover{
			background-color: $color-magenta;
		}
	}

	p {
		// letter-spacing: -0.06em;
		// font-size:1.4em;
		font: 15px "HUGEAvantGardeBold", sans-serif;
		color: #999;
		margin-top: 16px;
	}

	sup {
		font-size: 0.5em;
		vertical-align: super;
	}

	#meta {
		margin-top: 60px;
		border-top: 1px solid #333;
		padding-top:36px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:11px;
		height:64px;

		span {
			float:left;
			color: $color-font-light;
		}
		a {
			float:right;
			color: $color-font-light;
			text-align:right;
			margin-left: 40px;

			@include transition(all 0.2s ease);

			&:hover {
				color:#fff;
				opacity:1 !important;
			}

			.social {
				display:none;
				background-color:transparent;
				width:64px;
				height:64px;
				margin:0;
				top:-24px;
				// opacity:0.7;
			}

		}

	}

	/*
	@include at-breakpoint($mobile-screen) {
		.container {
			font-size:12px;
			padding:50px 40px 30px;
		}
		#meta {
			padding:60px 0;
			font-size:17px;
			a { display:none; }
			a.swap {
				display:block;
				width:64px;
				margin-left: 20px;
				text-indent: -999em;
				text-align: left;
				.social { display:inline-block; }
			}


		}
	}

	@include at-breakpoint($small-screen) {
		font-size:10px;
		#meta {
			a { display:none; }
			a.swap {
				display:block;
				width:64px;
				margin-left: 20px;
				text-indent: -999em;
				text-align: left;
				.social { display:inline-block; }
			}
		}
	}
	*/
}








/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

.home {
	header {
		text-align: center;
		color: #999;
		.eyebrow {
			font: 13px "GalaxieItalic";
		}
		h1 {
			margin: 0.4em;
			a {
				color: #fff;
				text-decoration: none;
			}
		}
		p {
			max-width: 960px;
			margin: 0 auto;
		}
		ul.wrap {
			min-height: 500px;
			li {
				padding-top: 160px;
			}
		}
	}
	main {
		text-align: center;
		section {

			overflow: hidden;
			max-height: 250px;

			@include perspective(100);
			@include transform(rotateX(0deg));
			@include transition(transform 1s, max-height 0.8s);

			p {
				max-width: 1280px;
				margin: 0 auto;
			}
			.install {
				padding-top:10px;
				font-size: 12px;
			}
			.bower {
				font-family: Monaco, Courier, monospace;
				font-weight: bold;
				// color: #666;
			}
			&.collapsed {
				max-height:0;
				@include transform(rotateX(90deg));
			}
		}
	}

	/* ripped from HUGEINC */
	#tabs {
		padding-bottom:36px;
		text-align: center;

		li {
			width: 90px;
			height: 36px;
			font: 11px / 32px $font-sans;
			font-weight: bold;
			cursor: pointer;
			display: inline-block;
			border: 2px solid $color-border;
			margin: 6px;
			@include transition(all 0.5s);

			&:after {
				content:'';
				border:12px solid transparent;
				border-top-color:#fff;
				position:absolute;
				right:32px;
				// bottom:-12px;
				@include transition(all 0.5s);
			}
		}

		.active {
			color:#fff;
			background:$color-grey-dark;
			border-color:$color-grey-dark;
			&:after {
				border-top-color:$color-grey-dark;
				bottom:-26px;
			}
		}

	}

}

/*****************************************************************************/
/*
/* Page
/*
/*****************************************************************************/

.page {
	section {


		// margin: 0;
		// text-align: center;


		div {
			padding: 40px;
		}

		.eyebrow {
	 		font: 13px Arial,sans-serif;
			display: inline-block;
			padding: 15px;
			// b {
				color: #ec008c;
			// }
		}

		h2 {
			margin-top: 0px;
			a {
				color:#000;
			}

		}

		p {
			color: #999;
		}

		a {
			text-decoration: none;
		}

		&:after {
			content: '';
			width: 92px;
			height: 2px;
			display: inline-block;
			background: #dadada;
			position: absolute;
			bottom: -1px;
			left: 50%;
			margin-left: -46px;
		}

		&:hover {
			background: $color-magenta;
			* {
				color:#fff;
			}
		}

	}
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
	display: inline-block;
}







/*****************************************************************************/
/*
/* Post
/*
/*****************************************************************************/


.post {
	main {
		.container {
			padding-left: 240px;
		}

	}

	section {
		margin-bottom: 6em;
	    li {
	    	margin-left: 2em;
	    }
	}


}

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 1.4em;
}

// .post ul, .post ol {
//   margin-left: 1.35em;
// }

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}


/*****************************************************************************/
/*
/* Full Screen Posts
/*
/*****************************************************************************/

.fullscreen {
	header {
		position: fixed;
		top: 0;
		left:0;
		width: 100%;
		z-index: 1000;

		.container {
			// padding:0;
			// margin: 0 auto;
		}
	}
}


