	<%- include("header", { title: title }) %>


<!--
vars:

title
next_page
prev_page
content
-->


	<header>
		<nav>
		</nav>

		<div class="container">
			<a href="/"><i class="fa fa-home"></i></a>
			<h1><%- title %></h1>
		</div>
	</header>



	<main>
		<%- content %>
	</main>


	<%- include("footer") %>


	<script src="https://cdn.rawgit.com/apathetic/stickynav/blob/master/dist/stickynav.min.js"></script>
	<script>
		stickyNav.init({
			nav: '#sticky nav'
		});
	</script>
