
.site, section {
    height: 100%;
    margin: 0;
    width: auto;
    padding:0;
}

section {
    position: relative;
    text-align: center;
    padding-top: 172px; // to account for fixed nav
}
section > h3 {
    position: absolute;
    top: 80%;
    width: 100%;
    text-align: center;
    z-index: 20;
    display: block;
}

html, body, article {
    height: 100%;
}

html, body {
    overflow: hidden;
}

section {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-transform: translateZ(0);
    -webkit-transition: translate3d(0, 0, 0);
}

#one {
    background-color: #fff;
}

#two {
    top: 100%;
    background-color: #eee;
}

#three {
    top: 200%;
    background-color: #ddd;
}
#three > div {
    text-align: left;
}

#four {
    top: 300%;
    background-color: #ccc;
}