<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="IE=Edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, height=device-height">
    <title>Sticky Nav – Components</title>
    <meta property="og:title" content="Sticky Nav – Components">
    <meta property="og:site_name" content="Components">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://apathetic.github.io/showcase/components/stickynav/">
    <meta name="description" content="A navigation bar (or menu) that efficiently attaches / detaches to the top of the viewport upon scrolling.">
    <meta property="og:description" content="A navigation bar (or menu) that efficiently attaches / detaches to the top of the viewport upon scrolling.">
    <link rel="shortcut icon" href="/assets/images/favicon.png">
    <link rel="stylesheet" href="https://apathetic.github.io/showcase/assets/css/main.min.css">
    <script src="https://cdn.jsdelivr.net/gh/apathetic/stickynav/dist/stickynav.js"></script>
  </head>
  <body>


  <header class="py-2 align-center">
    <h1 class="px-2">Sticky Nav.</h1>
    <!-- <p class="attribution">Posted %(date)s</p> -->

    <nav class="component">
      <a class="button prev" href="https://apathetic.github.io/showcase/components/scrollify/">
        ⟨
        <span>Scrollify</span>
      </a>
      <a class="next button" href="https://apathetic.github.io/showcase/components/validator/">
        <span>Validator</span>
        ⟩
      </a>
    </nav>

    <a class="button button--icon" href="https://www.npmjs.com/package/@apatheticwes/stickynav">
      npm
    </a>
    <a class="button button--icon" href="https://github.com/apathetic/stickynav">
      <i class="icon-github"></i> Github
    </a>
    <a class="button button--icon" href="https://github.com/apathetic/stickynav/archive/master.zip">
      ⇩ Download
    </a>

  </header>

  <nav class="mini-nav">
    <div id="sticky">
        <ul class="py-2"></ul>
    </div>
  </nav>

  <main class="prose">

		<section data-nav="About" id="about">
			<div class="container">
				<h2>About</h2>
				<p>This module is actually two components in one. The first one is a
           Sticky component that enables an element to scroll along with the
           page and anchor to the top of it when it encounters the upper edge
           of the viewport.  Alternatively, the element may also be bounded by
           its parent's bottom edge as well.<p>
				<p>The second module is an auto-generating menu. The module will
           parse the DOM for <code>data-nav</code> attribues and construct
           a menu that may be used to navigate the page.</p>
			</div>
		</section>

		<section data-nav="Demo 1" id="funding" class="filler">
			<div class="container">
				<h2>Demo</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<p>Global adoption of mobile services has increased significantly over the last
				few years. Taking advantage of this ever-growing trend is now more important
				than ever; however, for our clients, it is merely a stepping stone.</p>
				<p>We are very great and super important lorem ispum. We are very great and
				super important lorem ispum. We are very great and super important lorem ispum.
				We are very great and super important lorem ispum.</p>
			</div>
		</section>

		<section data-nav="Demo 2" id="clients" class="filler">
			<div class="container">
				<h2>Demo</h2>
				<p>Useless filler Global adoption of mobile services has increased significantly over the last
				few years. Taking advantage of this ever-growing trend is now more important
				than ever; however, for our clients, it is merely a stepping stone.</p>
				<p>We are very great and super important lorem ispum. We are very great and
				<img src="http://malformed.ca/wesley.jpg" alt="" />
				super important lorem ispum. We are very great and super important lorem ispum.
				We are very great and super important lorem ispum.</p>
				<p>Global adoption of mobile services has increased significantly over the last
				few years. Taking advantage of this ever-growing trend is now more important
				than ever; however, for our clients, it is merely a stepping stone.</p>
				<p>We are very great and super important lorem ispum. We are very great and
				super important lorem ispum. We are very great and super important lorem ispum.
				We are very great and super important lorem ispum.</p>
				<p>We are very great and super important lorem ispum. We are very great and
				super important lorem ispum. We are very great and super important lorem ispum.
				We are very great and super important lorem ispum.</p>
				<p>We are very great and super important lorem ispum. We are very great and
				super important lorem ispum. We are very great and super important lorem ispum.
				We are very great and super important lorem ispum.</p>
			</div>
		</section>

		<section data-nav="Demo 3" id="partners" class="filler">
			<div class="container">
				<h2>Demo</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<p>Global adoption of mobile services has increased significantly over the last
				few years. Taking advantage of this ever-growing trend is now more important
				than ever; however, for our clients, it is merely a stepping stone.</p>
				<p>We are very great and super important lorem ispum. We are very great and
				super important lorem ispum. We are very great and super important lorem ispum.
				We are very great and super important lorem ispum.</p>
			</div>
		</section>

		<section data-nav="Prereqs" id="prereqs">
			<div class="container">
				<h2>Prereqs</h2>
				<p>none</p>
			</div>
		</section>

		<section data-nav="Compatibility" id="compatibility">
			<div class="container">
				<h2>Compatibility</h2>
				<ul class="bullets">
					<li>IE8+</li>
					<li>Firefox, Chrome, Opera</li>
				</ul>
			</div>
		</section>

		<section data-nav="Code" id="code">
			<div class="container">
				<h2>Code</h2>
				<pre><code class="language-javascript">
	new stickyNav({
		nav: '#sticky'
	});
			</code></pre>
			</div>
		</section>

		<section data-nav="Options" id="options">
			<div class="container">
				<h2>Options</h2>
				<div class="table-responsive">
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th style="width: 100px;">Name</th>
								<th style="width: 50px;">type</th>
								<th style="width: 50px;">default</th>
								<th>description</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>nav</td>
								<td>String</td>
								<td></td>
								<td>query selector (string) of the nav container <span style="color:red">(required)</span> </td>
							</tr>
							<tr>
								<td>boundedBy</td>
								<td>mixed</td>
								<td>parentNode</td>
								<td>query selector (string) or HTMLElement of a container to use to "bound" the sticky element within</td>
							</tr>
							<tr>
								<td>offset</td>
								<td>integer</td>
								<td>0</td>
								<td>The offset from the top of the viewport at which to trigger "stickiness". Also affects how (where) the active section is calculated</td>
							</tr>
							<tr>
								<td>sections</td>
								<td>HTMLElement</td>
								<td>[data-nav]</td>
								<td>HTMLElement nodes to use to generate the menu</td>
							</tr>
						</tbody>

					</table>
				</div>
			</div>
		</section>

  </main>

  <!--

    <script src="https://cdn.jsdelivr.net/gh/apathetic/stickynav/dist/stickynav.js"></script>
  -->

  <script src="https://apathetic.github.io/showcase/assets/js/component.js"></script>



	<footer>
		<div class="container">

			<a href="http://weshatch.com" id="logo"> </a>

			<p>Catchy tagline here.<sup>TM</sup></p>

			<div id="meta">
				<span>© 2014, 2017 Wes Hatch. All Rights Reserved.</span>
			</div>

		</div>
	</footer>
  </body>
</html>