/**

File:     index.css
Description:  Styles for Landing Page


    ◡◠ ✥ ◠◡

  Table of Contents:

  2. Default styles
    - typograpy
    - links
  3. Layout

*/


/* ---------------------------------------
  2.  Default Styles
---------------------------------------- */

header.hero {
  text-align: center;
  color: #999;
  // min-height: 150px;
  background: colors('grey-dark');

  .v-center {
    padding: 6em 20%;
  }

  .eyebrow {
    font-size: 13px;
    font-family: $font-serif;
  }

  h1 {
    // margin: 0.4em;
    a {
      color: #fff;
      text-decoration: none;
    }
  }

  p {
    max-width: 960px;
    margin: 0 auto;
  }

  nav {
    position: static;
  }

  .carousel {

    overflow: hidden;
    cursor: move;
    text-align: center;

    .animate {
      transition: all 0.4s ease-in-out;
    }

    .wrap {
      display: flex;
      li {
        flex: 1 0 100%;
      }
    }

    nav {
      height: 3em;
      width: 100%;
      text-align: center;

      li {
        cursor: pointer;
        display: inline-block;
        background-color: #bbb;
        border: 2px solid transparent;
        height: 12px;
        width: 12px;
        border-radius: 50%;
        margin: 0 3px;
        background-clip: content-box;
        transition: all 0.5s;

        &.active {
          border-color: #fff;
          background-color: transparent;
        }
      }

      div {
        position: absolute;
        cursor: pointer;
        top: 0;
        width: 20%;
        height: 100%;
        z-index: 1000;

        &:hover span { opacity: 0.75; }

        span {
          position: absolute;
          top: 50%;
          width: 3em;
          height: 3em;
          margin-top: -1.5em;
          font: 1.8em / 3em 'Lucida Grande';
          display: inline-block;
          background: #393c3c;
          color: #000;
          opacity: 0;
          transition: all 0.3s;
          // vertical-align: middle;
        }
      }
    }

    .prev,
    .prev span {
      left: 0;
    }

    .next,
    .next span {
      right: 0;
    }

  }
}

.align-center {
  text-align: center;
}

.tile {
  color: $color-font-light;
  overflow: hidden;
  max-height: 250px;
  transition: transform 0.8s, max-height 1s, opacity 0.5s;
  opacity: 1;
  transform-origin: top;

  &:hover {
    animation: blip 2s;
  }

  &.collapsed {
    max-height: 0;
    opacity: 0;
    transform: rotateX(90deg);
  }

  > div {
    padding: 2em 20%;
  }

  h2 {
    margin-bottom: 0.2em;

    a {
      color: #000;
    }
  }

  .eyebrow {
    font: 12px Arial, sans-serif;
    display: inline-block;
    padding: 1em;
    color: $color-font-dark;
  }

  .install {
    padding-top: 10px;
    font-size: 12px;
    font-weight: bold;

    a {
      margin: 0.5em;

      &::before {
        margin-right: 0.2em;
      }
    }
  }

}

.filters {
  padding: 2em;
  // text-align: center;

  li {
    width: 90px;
    height: 36px;
    font: 11px / 32px $font-sans;
    font-weight: bold;
    background: #fff;
    cursor: pointer;
    display: inline-block;
    // border: 2px solid $color-border;
    margin: 6px;
    transition: all 0.5s;

    &::after {
      content: '';
      border: 8px solid transparent;
      border-top-color: #fff;
      position: absolute;
      right: 36px;
      bottom: 0;
      transition: all 0.5s;
      z-index: -1;
    }
  }

  .active {
    color: #fff;
    background: colors('grey-dark');
    border-color: colors('grey-dark');

    &::after {
      border-top-color: colors('grey-dark');
      bottom: -16px;
    }
  }

}
