/**

File:			main.css
Description:	Main styles for the Huge Showcase


		◡◠ ✥ ◠◡

	Table of Contents:

	2. Default styles
		- typograpy
		- links
	3. Layout


*/

header {
	min-height: 150px;
	background: $color-grey-dark;
	color: #fff;
	text-align: center;
	margin-bottom: 48px;

	h1 {
		color: #fff;
		margin: 0;
		padding: 0.6em;
	}
}

footer {
	margin-top: 48px;
}


/* ---------------------------------------
	1.	Sticky
-----------------------------------------*/

#sticky {
	display: none;

	nav {
		ul {
			margin: 2em 0;
		}

		li {
			list-style:none;
			float: left;
			clear: left;
			width: 172px;
			margin: 2px 0;
		}

		a {
			color: #fff;
			text-decoration: none;
			background: #232326;
			padding: 2px 12px;
			float: right;
			font-size: 14px;
		}

		.active a {
			background: #ec008c;
			&:after {
				content: '';
				position: absolute;
				top: 6px;
				right: -8px;
			}
		}

	}

	@include at-breakpoint('desktop') {
		display: block;
		height: 0;				// to prevent menu from affecting layout
		width: 100%;
		z-index: 1;

		nav {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 0;
			z-index: 100;
			-webkit-backface-visibility: hidden;
		}

	}

}

.sticky {
	@include at-breakpoint('mobile') {
		&::after {
			content: '';
			display: table;
			clear: both;
		}
	}

	@include at-breakpoint('desktop') {
		position: fixed;
		top: 0;
		left: 0;
	}
}



/* ---------------------------------------
	2.	Other
-----------------------------------------*/

main.component {

	@include at-breakpoint('desktop') {
		&.left-rail {
			.container {
				padding-left: 240px;
			}
		}
	}

	section {
		padding: 2em 0;
		overflow: hidden;
	}

	.bullets li {
		margin-left: 2em;
		margin-bottom: 1em;
		list-style-type: disc;
	}

	p + *:not(p) {
		margin-top: 2em;
	}
}


.demo-nav {
	font-size: 0.5em;
	width: 100%;
	text-align: center;
	position: static;

	ul {
		height: 3em;
	}

	li {
		display: inline-block;
		cursor: pointer;
		color: grey;
		list-style: none !important;
		width: 1em;
		height: 1em;
		margin: 1em;
		border-radius: 50%;
		background: #ddd;

		&.active {
			background:#ec008c;
		}
	}

	.prev, .next {
		height: calc(100% - 3em);
	    width: 10%;
	    top: 0;
	    position: absolute;
		opacity: 0;
		transition: opacity 0.5s;

		span {
			position: absolute;
			top: 50%;
			color: #fff;
			font-size: 54px;
			width: 100%;
			height: 2em;
			margin-top: -1em;
			line-height: 2em;
			display: block;
		}

		.disabled {
			opacity: 0.2;
		}


		.carousel:hover & {
			opacity: 1;
		}
	}

	.prev { left: 0; }
	.next { right: 0; }

}
