
@font-face {
  font-family: "HUGEAvantGardeBold";
  src: url(/fonts/huge_agb_v5-webfont.eot) format('embedded-opentype'), url(/fonts/huge_agb_v5-webfont.woff) format('woff'), url(/fonts/huge_agb_v5-webfont.svg) format('svg');
}

@font-face {
  font-family: "Galaxie";
  src: url(/fonts/GalaxieCopernicus-Book.eot) format('embedded-opentype'), url(/fonts/GalaxieCopernicus-Book.woff) format('woff'), url(/fonts/GalaxieCopernicus-Book.svg) format('svg');
}

@font-face {
  font-family: "GalaxieItalic";
  src: url(/fonts/GalaxieCopernicus-BookItalic.eot) format('embedded-opentype'), url(/fonts/GalaxieCopernicus-BookItalic.woff) format('woff'), url(/fonts/GalaxieCopernicus-BookItalic.svg) format('svg');
}

/* @font-face {
  font-family: "FontAwesome";
  src: url(/fonts/fontawesome-webfont.eot) format('embedded-opentype'), url(/fonts/fontawesome-webfont.woff) format('woff'), url(/fonts/fontawesome-webfont.svg) format('svg');
}
 */
