<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="IE=Edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, height=device-height">
    <title>Modal – Components</title>
    <meta property="og:title" content="Modal – Components">
    <meta property="og:site_name" content="Components">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://apathetic.github.io/showcase/components/modal/">
    <meta name="description" content="A basic yet powerful modal system with a straightforward API">
    <meta property="og:description" content="A basic yet powerful modal system with a straightforward API">
    <link rel="shortcut icon" href="/assets/images/favicon.png">
    <link rel="stylesheet" href="https://apathetic.github.io/showcase/assets/css/main.min.css">    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/apathetic/modals/demo/styles.css">

    <script src="https://cdn.jsdelivr.net/gh/apathetic/modals/dist/modal.js"></script>
  </head>
  <body>


  <header class="py-2 align-center">
    <h1 class="px-2">Modal.</h1>
    <!-- <p class="attribution">Posted %(date)s</p> -->

    <nav class="component">
      <a class="button prev" href="https://apathetic.github.io/showcase/components/carousel/">
        ⟨
        <span>Carousel</span>
      </a>
      <a class="next button" href="https://apathetic.github.io/showcase/components/panels/">
        <span>Panels</span>
        ⟩
      </a>
    </nav>

    <a class="button button--icon" href="https://www.npmjs.com/package/@apatheticwes/modal">
      <svg class="icon">
        <use xlink:href="https://apathetic.github.io/showcase/assets/images/sprites.svg#npm"></use>
      </svg>
    </a>
    <a class="button button--icon" href="https://github.com/apathetic/modals">
      <svg class="icon">
        <use xlink:href="https://apathetic.github.io/showcase/assets/images/sprites.svg#github"></use>
      </svg>
    </a>
    <a class="button button--icon" href="https://github.com/apathetic/modals/archive/master.zip">
      <svg class="icon">
        <use xlink:href="https://apathetic.github.io/showcase/assets/images/sprites.svg#arrow-down"></use>
      </svg>
    </a>

  </header>

  <nav class="mini-nav">
    <div id="sticky">
        <ul class="py-2"></ul>
    </div>
  </nav>

  <main class="prose">

		<section data-nav="About" id="about">
			<div class="container">
				<h2>About</h2>
				<p>There are several ways to trigger the modal (ie. programmatically, or via a click Event), as well as to dismiss the modal (programmatically, mouse Events or the escape key). You can also easily customize the default CSS for a particular interaction.</p>
			</div>
		</section>

		<section data-nav="Demo" id="demo">
			<div class="container">
				<h2>Demo</h2>

				<p>The default uses <em>data-modal</em> attributes as triggers for a particular modal.</p>
				<p><button class="button button--default" data-modal="#terms">Show Modal</button></p>

				<pre><code class="language-markup">
&lt;!-- modal -->
&lt;div id="terms" class="modal">
	&lt;div class="modal__content">
		&lt;i class="modal__close icon-close">&lt;/i>
		&lt;h3>Hello&lt;/h3>
		&lt;p>Random text here, something important.&lt;/p>
	&lt;/div>
&lt;/div>

&lt;!-- modal trigger -->
&lt;button data-modal="#terms">show&lt;/button>
				</code></pre>

				<p>However, you can also programmatically open a particular modal by way of its <em>querySelector</em>.</p>

				<pre><code class="language-javascript">
Modal.show('#error');
Modal.hide()
				</code></pre>

				<p><button class="button button--default" onclick="Modal.show('#error')">Modal.show()</button></p>


			</div>
		</section>

		<section data-nav="Requirements" id="requirements">
			<div class="container">
				<h2>Requirements</h2>
				<p>None. All vanilla JS.</p>
			</div>
		</section>

		<section data-nav="Compatibility" id="compatibility">
			<div class="container">
				<h2>Compatibility</h2>
				<ul>
					<li>IE8+</li>
					<li>Firefox, Webkit, Opera</li>
					<li>iOS, Android</li>
				</ul>
			</div>
		</section>

		<section data-nav="Methods" id="methods">
			<div class="container">
				<h2>Methods</h2>
				<div class="table-responsive">
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th style="width: 100px;">Name</th>
								<th style="width: 100px;">args</th>
								<th>description</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>show</td>
								<td>querySelector (String)</td>
								<td>shows the modal that is referenced by the given querySelector</td>
							</tr>
							<tr>
								<td>hide</td>
								<td></td>
								<td>hides any currently-displaying modal</td>
							</tr>
							<tr>
								<td>bind</td>
								<td>querySelector (String)</td>
								<td>programmatically binds modal functionality to an element</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</section>


		<div id="terms" class="modal">
			<i class="icon modal__close"></i>
			<div class="modal__content">
				<h3>Hello</h3>
				<p>Random text here, something important.</p>
				<p>Here, we showcase one option for the placement of the "close" icon.</p>
			</div>
		</div>

		<div id="error" class="modal">
			<div class="modal__content">
				<i class="icon modal__close"></i>
				<h3>Error!</h3>
				<p>These aren't the droids you're looking for.</p>
				<p>You can also close the current modal programmatically. Clicking this button will trigger the Modal hide action:</p>
				<p><button class="button button--default" onclick="Modal.hide()">Modal.hide()</button></p>
			</div>
		</div>

		<script>
			window.addEventListener('DOMContentLoaded', Modal.init);
		</script>


  </main>

  <!--
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/apathetic/modals/demo/styles.css">

    <script src="https://cdn.jsdelivr.net/gh/apathetic/modals/dist/modal.js"></script>
  -->

  <script src="https://apathetic.github.io/showcase/assets/js/component.js"></script>



	<footer>
		<div class="container">

			<a href="http://weshatch.com" id="logo"> </a>

			<p>Catchy tagline here.<sup>TM</sup></p>

			<div id="meta">
				<span>© 2014, 2017 Wes Hatch. All Rights Reserved.</span>
			</div>

		</div>
	</footer>
  </body>
</html>