{% extends "/views/base.html" %}

{% block assets %}
  {% for style in doc.assets.css %}
    <link rel="stylesheet" href="{{ style }}">
  {% endfor %}

  {% for script in doc.assets.js %}
    <script src="{{ script }}"></script>
  {% endfor %}
{% endblock %}

{% block main %}
  {% set next_doc = doc.next() %}
  {% set prev_doc = doc.prev() %}

  <header class="py-2 align-center">
    <h1 class="px-2">{{ doc.title }}.</h1>
    <!-- <p class="attribution">{{ _('Posted %(date)s', date=doc.published ) }}</p> -->

    <nav class="component">
    {% if prev_doc %}
      <a class="button prev" href="{{ prev_doc.url }}">
        ⟨
        <span>{{ prev_doc.title }}</span>
      </a>
    {% endif %}
    {% if next_doc %}
      <a class="next button" href="{{ next_doc.url }}">
        <span>{{ next_doc.title }}</span>
        ⟩
      </a>
    {% endif %}
    </nav>

    {% if doc.npm %}
    <a class="button button--icon" href="{{ doc.npm }}">
      <svg class="icon">
        <use xlink:href="{{ g.static('/source/images/sprites.svg').url }}#npm"></use>
      </svg>
    </a>
    {% endif %}
    {% if doc.github %}
    <a class="button button--icon" href="{{ doc.github }}">
      <svg class="icon">
        <use xlink:href="{{ g.static('/source/images/sprites.svg').url }}#github"></use>
      </svg>
    </a>
    <a class="button button--icon" href="{{ doc.github }}/archive/master.zip">
      <svg class="icon">
        <use xlink:href="{{ g.static('/source/images/sprites.svg').url }}#arrow-down"></use>
      </svg>
    </a>
    {% endif %}

  </header>

  <nav class="mini-nav">
    <div id="sticky">
        <ul class="py-2"></ul>
    </div>
  </nav>

  <main class="prose">
    {% block component %}<!-- -->{% endblock %}
  </main>

  <!--
  {% for style in doc.assets.css %}
    <link rel="stylesheet" href="{{ style }}">
  {% endfor %}

  {% for script in doc.assets.js %}
    <script src="{{ script }}"></script>
  {% endfor %}
  -->

  <script src="{{ g.static('/dist/js/component.js').url }}"></script>

{% endblock %}
