
{% extends "/views/base.html" %}

{% block main %}

  <header class="hero align-center">
    <div class="carousel" id="featured">
      <ul class="carousel__wrap">
        {% for component in g.docs('components') if component.featured %}
        <li class="carousel__slide">
          <span class="eyebrow">Module by {{ component.author }}</span>
          <h1><a href="components/{{ component.slug }}">{{ component.title }}</a></h1>
          <p>{{ component.description }}</p>
        </li>
        {% endfor %}
      </ul>

      <nav>
        <button class="prev">←</button>
        <ul>
          {% for component in g.docs('components') if component.featured %}<li></li>{% endfor %}
        </ul>
        <button class="next">→</button>
      </nav>

    </div>
  </header>

  <main class="align-center">
    <div class="filters">
      <ul>
        <li data-filter="all" class="active">all.</li>
        <li data-filter="parallax">parallax</li>
        <li data-filter="js">js</li>
        <li data-filter="carousel">carousel</li>
        <li data-filter="slider">slider</li>
      </ul>
    </div>

    {% set components = g.docs('components', order_by='date') | reverse() %}
    {% for component in components %}
      {% if not component.hidden %}
      <section class="tile" data-tags="all{% for tag in component.tags %} {{ tag }}{% endfor %}">
        <div>
          <span class="eyebrow">
          {% for tag in component.tags %}<strong>{{ tag }}</strong>{% endfor %}
          </span>

          <h2><a href="components/{{ component.slug }}">{{ component.title }}.</a></h2>

          <p>{{ component.description }}</p>
          {#
          <p class="install">
            {% if (component.stash)  %}<a class="icon-stash" href="{{ component.stash  }}">stash</a>{% endif %}
            {% if (component.github) %}<a class="icon-github" href="{{ component.github }}">github</a>{% endif %}
          </p>
          #}
        </div>
      </section>
      {% endif %}
    {% endfor %}

  </main>

  <script src="{{ g.static('/dist/js/home.js').url }}"></script>

{% endblock %}
