/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

$fa-font-path:  "../bower_components/font-awesome/fonts";

@import "../bower_components/font-awesome/scss/font-awesome";
@import "../bower_components/bootstrap-sass/lib/bootstrap";
@import "fonts";


/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    margin: 0;
    position: relative;
}


// ------------------------- Typography ------------------------

h1, h2, h3, h4, h5, h6 {
    color: #000;
    font-family: "HUGEAvantGardeBold", sans-serif;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

h1 {
    font-size: 3em;
    // border-bottom: $magenta 2px solid;
}

h2 {
    font-size: 2.4em;
    // margin-top: 2em;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.5em;
}

h6 {
    line-height: 1;
    margin: 10px 0;
}

// --------------------------- Links ---------------------------

a {
	text-decoration: none;
}



// ------------------------- Navigation ------------------------

header nav {
	float:right;
	margin-top: 3em; 		// same as h1

	a {
		line-height: 40px;
		&:after {
			display: inline-block;
			width: 40px;
			height: 40px;
			border-radius: 20px;
			background: #aaa;
			margin:0 5px;
			color: #fff;
			line-height: 38px;
			text-align: center;
			font-size: 18px;
		}
		&.next {
			margin-right: 20px;
			&:after {
				content: "\00ab";
				float:left;
			}
		}
		&.prev {
			margin-left: 20px;
			&:after {
				content: "\00bb";
				float:right;
			}
		}
	}
}

#sticky {
	margin-left:-240px;
	position:relative;

	nav {
		position: absolute;
		top: 0;
		/*left: 0;*/
		width: 100%;
		height: 0;
		padding: 0 15px; // same as container
		z-index: 100;
		-webkit-backface-visibility: hidden;

		li {
			list-style:none;
			padding: 4px 0;
			float: left;
			clear: left;
		}

		a {
			color: #999;
			text-decoration: none;
		}

		.active a {
			color: orange;
		}

		&.sticky {
			position: fixed;
		}
	}
}



/*****************************************************************************/
/*
/* Layout
/*
/*****************************************************************************/

.site {
	font-size: 115%;
	text-align: justify;
  // width: 42em;
  // margin: 3em auto 2em;
  // line-height: 1.5em;
}

.header {
	border-bottom: 1px solid #666;
	margin-bottom: 1em;
	background: #F6F6F6;
}

section {
	margin-bottom: 6em;
    li {
    	margin-left: 2em;
    }
}

.footer {
	// text-align: center;
	height:200px;
	font-size: 80%;
	color: #666;
	border-top: 4px solid #eee;
	margin-top: 4em;
	overflow: hidden;
}




/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

.content {
	width: 1170px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.posts {
	text-align: center;
	list-style-type: none;
	margin-bottom: 2em;

	li {
		line-height: 1.75em;
	}

	span {
		color: #aaa;
		font-family: Monaco, "Courier New", monospace;
		font-size: 80%;
	}
}

#general {
	margin-top: 40px;
}

/*****************************************************************************/
/*
/* Page
/*
/*****************************************************************************/

.page {
	section {
		text-align: center;
		margin: 3em 0;

		h5 {
			margin-bottom: 0.5em;
		}
		h2 {
			margin-top: 0px;
			.fa {
				font-size: 0.5em;
				color: #000;
			}
		}
	}
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
	display: inline-block;

	a {
		color: #a00;

		&:hover {
			color: #000;
		}

		&.extra {
			color: #aaa;
			margin-left: 1em;

			&:hover {
				color: #000;
			}
		}
	}
}

.meta {
  color: #aaa;
}

.footer {
	.contact {
		float: left;
		margin-right: 3em;

		&+ .contact {
			float: right;
			margin-right: 0em;
		}

		a {
			color: #8085C1;
		}
	}

	.rss {
		margin-top: 1.1em;
		margin-right: -.2em;
		float: right;
		img {
			border: 0;
		}
	}
}


/*****************************************************************************/
/*
/* Post
/*
/*****************************************************************************/


.post {
	main {
		.container {
			padding-left: 240px;
		}
	}
}

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

// .post ul, .post ol {
//   margin-left: 1.35em;
// }

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}


/*****************************************************************************/
/*
/* Full Screen Posts
/*
/*****************************************************************************/

.fullscreen {
	header .container {
		padding:0;
		// margin: 0 auto;
	}
}


