/*
	This mixin adds some shadow to the bottom of an element, giving the illusion of a curl

 */

@mixin page-curl() {

	position:relative;

	&:before, &:after {
		content: '';
		height: 10px;
		bottom: 12px;
		position: absolute;
		width: 40%;
		z-index: -1;
		background: none;
		@include box-shadow(0 10px 12px rgba(0, 0, 0, 0.5));
	}
	&:before {
		@include transform( skew(-4deg) rotate(-4deg) );
		left: 12px;
	}
	&:after {
		@include transform( skew(4deg) rotate(4deg) );
		right: 12px;
	}
}
