/* ---------------------------------------
  4.  Tables
---------------------------------------- */

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 2em;
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid colors('border');
}

.table > thead:first-child > tr:first-child > th {
  border-top: 0;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #efefef;
}

.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td {
  padding: 12px;
  vertical-align: top;
  border-top: 1px solid colors('border');
}

td,
th {
  padding: 0;
  text-align: left;
}

th {
  font-family: $font-default;
  background-color: #777;
  color: #fff;
}
