@import "css_arrow";
@import "compass/css3";


@mixin button-arrow() {

	display: inline-block;
	text-decoration: none;
	position: relative;
	overflow: hidden;
	border: 0;

	@include text-shadow(rgba(102,102,102,0.5) -1px -1px 0);
	@include transition(all, 0.5s);
	@include border-radius(5px);

	&:after {
		content: '';
		height: 30px;
		width: 30px;
		background-color: #159279;
		position: absolute;
		right: -30px;
		top: 50%;
		margin-top: -15px;
		z-index: 1;

		@include border-radius(15px);
		@include transition(all, 0.5s);
	}

	&:before {
		content: ' ';
		display: block;
		position: absolute;
		right: -19px;
		top: 50%;
		margin-top: -7px;
		z-index: 2;
		@include arrow(right, #ffffff, 7px);
		@include rotate(180deg);
		@include transition(all, 0.5s);
	}

	&:hover {
		background-color: #1abc9c;
		padding-left: 20px;
		padding-right: 60px;
		&:after {
			right: 20px;
		}
		&:before {
			right: 30px;
			@include rotate(0deg);
		}
	}
}





/*

div#buttonWithArrow {
	.button-example {
		display: block;
		margin-top: 30px;

		a {
			font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
			font-size: 20px;
			color: #ffffff;
			display: inline-block;
			padding: 20px 40px;
			text-decoration: none;
			position: relative;
			overflow: hidden;
			background-color: #16a085;

			@include text-shadow(rgba(102,102,102,0.5) -1px -1px 0);
			@include transition(all, 0.5s);
			@include border-radius(5px);

			&:after {
				content: '';
				height: 30px;
				width: 30px;
				background-color: #159279;
				position: absolute;
				right: -30px;
				top: 50%;
				margin-top: -15px;
				z-index: 1;

				@include border-radius(15px);
				@include transition(all, 0.5s);
			}
			&:before {
				content: ' ';
				display: block;
				position: absolute;
				right: -19px;
				top: 50%;
				margin-top: -7px;
				z-index: 2;
				@include arrow(right, #ffffff, 7px);
				@include rotate(180deg);
				@include transition(all, 0.5s);

			}
			&:hover {
				background-color: #1abc9c;
				padding-left: 20px;
				padding-right: 60px;
				&:after {
					right: 20px;
				}
				&:before {
					right: 30px;
					@include rotate(0deg);
				}
			}
		}
	}
} */