/* Responsive
---------------------------------------------------------------------------- */


/* Colors
---------------------------------------------------------------------------- */

$color-magenta: #ec008c;	// HUGE branded
$color-blue: #0096d6;

$color-font-dark: #333;
$color-font-medium: #666;
$color-font-light: #999;

$color-border: #dadada;
$color-grey-dark: #232525;

$color-off-white: #f4f4f4;

$color-border: #ddd;

/* Fonts
---------------------------------------------------------------------------- */

$font-hugeAvantGarde: 'HUGEAvantGardeBold', sans-serif;
$font-galaxie: 'Galaxie';
$font-galaxieItalic: 'GalaxieItalic';
$font-sans: Arial, sans-serif;
